@charset "UTF-8";

 body {
            background-color: rgba(224, 101, 85, 0.904);
            font-family: Arial, Helvetica, sans-serif;  
        }

        h1 {
            color: rgb(85, 173, 224);
            text-align: center;
        }

        h2 {
            color: brown;
        }

        